*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1280px;
    margin:auto;
}

header{
    background: #e579e6;
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
}

main{
    width: 100%;
    height: auto;
    
}

.sec-1{
    background: #e1d67a;
    height: 400px;
    margin-bottom: 20px;
}

.sec-2{
    background: #0086ff;
    margin: auto;
}

.head-sec-2{
    height: 60px;
    background: #abcfe7;
}


.clearfix::after{
    content:"";
    clear: both;
    display: table;
    
}

.col{
    background-color:#abcfe7;
    min-height: 300px;
    margin: 20px auto 20px auto;

}

.col-left{
    margin-right: 10px;
    float:left;
    width:15%;
}

.col-center{
    float:left;
    width: calc(70% - 20px);
}

.col-right{
    float:left;
    width: 15%;
    margin-left:10px;
}

.container-float{
}

footer{
    background: #8900ff;
    height: 30px;
    width: 100%;
    margin-top:5px;
}